click  
jinja2  
markupsafe  
certifi  
charset-normalizer  
idna  
pysocks  
pywin32  
numpy  
pandas  
python-dateutil  
pytz  
python-tzdata  
numexpr  
matplotlib  
matplotlib-inline  
plotly  
pip  
pyyaml  
protobuf 