altair
asttokens
attrs
aws-c-auth
aws-c-cal
aws-c-common
aws-c-compression
aws-c-event-stream
aws-c-http
aws-c-io
aws-c-mqtt
aws-c-s3
aws-c-sdkutils
aws-checksums
aws-crt-cpp
aws-sdk-cpp
blas
blinker
boost-cpp
bottleneck
brotli-python
bzip2
c-ares
ca-certificates
cachetools
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
freetype
gflags
gitdb
gitpython
glog
icu
idna
intel-openmp
ipykernel
ipython
jedi
jinja2
jpeg
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
krb5
lcms2
lerc
libabseil
libboost
libbrotlicommon
libbrotlidec
libbrotlienc
libcurl
libdeflate
libevent
libffi
libgrpc
libpng
libpq
libprotobuf
libsodium
libssh2
libthrift
libtiff
libwebp-base
lz4-c
markdown-it-py
markupsafe
matplotlib
matplotlib-base
matplotlib-inline
mdurl
mkl
mkl-service
mkl_fft
mkl_random
narwhals
nest-asyncio
numexpr
numpy
numpy-base
openjpeg
openssl
orc
packaging
pandas
parso
pillow
pip
platformdirs
plotly
prompt-toolkit
prompt_toolkit
protobuf
psutil
pure_eval
pydeck
pygments
pyparsing
pyqt
pyqt6-sip
pysocks
python
python-dateutil
python-tzdata
pytz
pywin32
pyyaml
